In [1]:
import sys  
sys.path.insert(0, '../BendersProblems/')

In [2]:
import pandas as pd

In [8]:
path = "/home/williams/Tesis-Magister/Databases/"
rebloggedDatabase = 'Modelo_F_OG_4_4_4.xlsx'
database = 'Modelo_F_OG.xlsx'
elValle = 'elvalle.csv'

In [10]:
rebloggedMineDataframe = pd.read_excel(path + rebloggedDatabase, engine="openpyxl") #Notebook
mineDataframe = pd.read_excel(path + database, engine="openpyxl") #Notebook

In [9]:
elValleDataframe = pd.read_csv(path + elValle)

In [12]:
rebloggedMineDataframe

,Bloque,X,Y,Z,Ton,Mineral,%Cu,CMina CA,CPlanta CA,Recuperación
0,0,145,265,745,172800,0,0.0,10.4265,7,0.7
1,1,185,265,745,172800,0,0.0,10.4265,7,0.7
2,2,225,265,745,172800,0,0.0,10.4265,7,0.7
3,3,265,265,745,172800,0,0.0,10.4265,7,0.7
4,4,305,265,745,172800,0,0.0,10.4265,7,0.7
...,...,...,...,...,...,...,...,...,...,...
11755,11755,1065,1345,1305,172800,0,0.0,9.5865,7,0.7
11756,11756,1105,1345,1305,172800,0,0.0,9.5865,7,0.7
11757,11757,1145,1345,1305,172800,0,0.0,9.5865,7,0.7
11758,11758,1185,1345,1305,172800,0,0.0,9.5865,7,0.7
11759,11759,1225,1345,1305,172800,0,0.0,9.5865,7,0.7

In [11]:
elValleDataframe.rename({"xcentre": "X", "ycentre": "Y", "zcentre": "Z",  })

,xcentre,ycentre,zcentre,xlength,ylength,zlength,volume,cuco,dens,ley_cus,ley_cut,ley_mo,recmo,recu,topo_pnd_2018
0,2510.0,3550.0,1508.0,20.0,20.0,18.0,7200.0,12.000000,2.56,0.0010,0.001000,0.001000,8.000000,50.000000,1
1,2510.0,3570.0,1508.0,20.0,20.0,18.0,7200.0,12.000000,2.56,0.0010,0.001000,0.001000,8.000000,50.000000,1
2,2510.0,3590.0,1508.0,20.0,20.0,18.0,7200.0,12.000000,2.56,0.0010,0.001000,0.001000,8.000000,50.000000,1
3,2530.0,3550.0,1508.0,20.0,20.0,18.0,7200.0,12.000000,2.56,0.0010,0.001000,0.001000,8.000000,50.000000,1
4,2550.0,3550.0,1508.0,20.0,20.0,18.0,7200.0,12.000000,2.56,0.0010,0.001000,0.001000,8.000000,50.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130195,3910.0,4150.0,2498.0,20.0,20.0,18.0,7200.0,23.033318,2.65,0.0001,0.110403,0.005609,21.971001,77.071289,0
130196,3930.0,4150.0,2498.0,20.0,20.0,18.0,7200.0,24.837624,2.65,0.0001,0.100071,0.007407,20.757999,77.177292,0
130197,3950.0,4150.0,2498.0,20.0,20.0,18.0,7200.0,25.041910,2.65,0.0001,0.076227,0.008955,20.138000,84.013886,0
130198,3970.0,4150.0,2498.0,20.0,20.0,18.0,7200.0,25.236265,2.65,0.0001,0.141852,0.009747,19.080999,84.389198,0
130199,3990.0,4150.0,2498.0,20.0,20.0,18.0,7200.0,25.380157,2.65,0.0001,0.077123,0.008959,22.665001,84.697372,0

In [13]:
elValleDataframe.columns

Index(['xcentre', 'ycentre', 'zcentre', 'xlength', 'ylength', 'zlength',
       'volume', 'cuco', 'dens', 'ley_cus', 'ley_cut', 'ley_mo', 'recmo',
       'recu', 'topo_pnd_2018'],
      dtype='object')